<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.meinian.mapper.UserMapper">

    <!--User findUserByUsername(@Param("username") String username);-->
    <resultMap id="userMap" type="com.atguigu.meinian.pojo.User">
        <id property="id" column="id"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="remark" column="remark"/>
        <result property="station" column="station"/>
        <result property="telephone" column="telephone"/>
        <collection property="roles"
                    column="id"
                    select="com.atguigu.meinian.mapper.RoleMapper.findRolesByUserId"/>
    </resultMap>
    <select id="findUserByUsername" resultMap="userMap">
        select *
        from t_user
        where username = #{username}
    </select>

</mapper>